*{
    margin: 0;
    padding: 0;
    position: relative;
    box-sizing: border-box;
}

html,
body{
    height: 100%;
    font-family: 'Inter Tight', sans-serif;
}

body{
    overflow-x:hidden;
}

:root{
    --main-color: #bf87ba;
    --secondary-color: #0c809d;
    --third-color: #6484BC;
}

@font-face{
    font-family:"hakimcomel";
    src: url('./assets/stone\ orgonite.woff');
}

h2{
    font-size: 2.5rem;
    line-height: 125%;
    padding: 1rem 0rem;
}

h3{
    font-size: 1.2rem;
    line-height: 125%;
}

nav{
    float: right;
    line-height: 100px;
}

nav a{
    text-decoration: none; 
    letter-spacing: 4px;
    font-size: 20px;
    margin: 0 10px;
    color: #ffffff;
}

.logo{
    display: flex;
    align-items: center;
    padding: 5%;
}

.logo h1{
    margin-left: 0.5rem;
    font-family: "hakimcomel";
}

.logo img{
    width: 6rem;
}
.front-page{
    min-height: 99vh;
    color: white;
}

.front-page .hero{
    background:url('https://newevolutiondesigns.com/images/freebies/cool-wallpaper-3.jpg'),linear-gradient(233deg, #bf87ba, #0c809d);
    width:100%;
    height:100vh;
    background-size:cover;
    background-blend-mode: hard-light;
    animation: hue-rotate 3s linear infinite;
}

@keyframes hue-rotate {
  from {
    -webkit-filter: hue-rotate(0);
    -moz-filter: hue-rotate(0);
    -ms-filter: hue-rotate(0);
    filter: hue-rotate(0);
  }
  to {
    -webkit-filter: hue-rotate(360deg);
    -moz-filter: hue-rotate(360deg);
    -ms-filter: hue-rotate(360deg);
    filter: hue-rotate(360deg);
  }
}


section{
    padding: 0%;
}

.selling-point{
    margin-top: 25vh;
    font-family: "hakimcomel";
    text-shadow: 0px 4px 12px rgb(0, 0, 0);
    text-align: center;
}

.selling-point h3{
    font-family:sans-serif ;
    text-shadow: 0px 4px 12px rgb(0, 0, 0);
}

.selling-point img{
    max-width: 50%;
}

.ctas{
    margin-top: 2rem;
}

.ctas button{
    padding: 1rem;
    font-size: 1rem;
    border: none;
    border-radius: 0.5rem;
    box-shadow: 0px 4px 24px rgba(21, 25, 26, 0.728);
    margin: 1rem;
}

.cta-main{
    background-color: var(--main-color);
    color: white;
    cursor: pointer;

}

.cta-sec{
    background-color: var(--secondary-color);
    color:white;
    cursor: pointer;
}

.hero{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    z-index: -1;
}

.littleabout{
    position: relative;
    width: 100%;
    display: flex;
    background: var(--secondary-color);
}

.littleabout .contentBx{
    background: var(--secondary-color);
    padding: 100px;
    width: 50%;
}

.littleabout .contentBx h2{
    text-shadow: 0px 5px 0px #bf87ba;
    font-family: "hakimcomel";
}

.heading{
    color: #ffffff;
    font-size: 30px;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 10px;
}

.littlep{
    color: aliceblue;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 1px;
}

.littleabout .imgBx{
    background-size: cover;
    background-image:linear-gradient(rgba(0, 0, 0, 0.295),
    rgba(0, 0, 0, 0.278)), 
    url(/assets/muar.jpg);
    padding: 100px;
    width: 50%;
}

.service h2{
    font-size: 2.5rem;
    text-shadow: 0px 5px 0px #0c809d;
    font-family: "hakimcomel";
}

.service{
    background-image:linear-gradient(rgba(164, 96, 151, 0.295),
    rgba(0, 0, 0, 0.756)),url(./assets/ssk1\ \(2\).jpg);
    padding: 100px;
    text-align: center;
    box-shadow: 700px 0px 700px 20px rgba(0, 0, 0, 0.2);
    background-size:auto;
    min-height: 50vh;
}
.service .container{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 60px;
    
}

.service .container .serviceBx{
    position: relative;
    background-image: linear-gradient(rgb(237, 188, 232),#0c809d00);
    width: 350px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0%;
    z-index: 1;
}

.service .container .serviceBx img{
    max-width: 150px;

}

.service .container .serviceBx h2{
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 1px;
    color: white;
    text-shadow: 7px 6px 4px #000000;
}

.service .container .serviceBx h4{
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 1px;
    color: white;
    text-shadow: 7px 6px 4px #000000;
}

.gallery h2{
    font-size: 2.5rem;
    text-shadow: 0px 5px 0px #bf87ba;
    font-family: "hakimcomel";
}

.gallery{
    background:var(--secondary-color);
    padding: 100px;
    text-align: center;
}
.gallery .container{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 60px;
    
}

.gallery .container .galleryBx{
    position: relative;
    background: #4dc6e474;
    width: 350px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1%;
    z-index: 1;
}

.gallery .container .galleryBx img{
    max-width: 250px;
    box-shadow: 18px 19px 5px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 18px 19px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 18px 19px 5px 0px rgba(0,0,0,0.75);
}

.gallery .container .galleryBx h2{
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 1px;
    color: wheat;
}

.gallery .container .galleryBx h4{
    color: white;
}

.technology{
    background: var(--secondary-color);
    width: 100%;
    padding: 100px;
    padding-top: 300px;
    margin-top: -300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.technology .contentBx{
    max-width: 700px;
}

.technology .imgBx{
    max-width: 450px;
}

.technology .imgBx img{
    max-width: 300%;
}

.technology h2{
    text-shadow: 7px 6px 4px #000000;
}

.client{
    background-color:#0a3856f0;
    padding: 100px;
    text-align: center;
    box-shadow: 0px 2px 4000px rgba(0,0,0,0.2);
}

.client .imgBx{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 40px;
}

.client .imgBx img{
    max-width: 200px;
    margin: 20px;
    opacity: 0.8;
    cursor: pointer;
}

.client .imgBx img:hover{
    opacity: 1;
}

.client p{
    color: rgb(255, 255, 255);
    font-weight: 900;
}

.client h2{
    color: rgb(255, 255, 255);
    text-shadow: 0px 7px 0px #000000;
    font-family: "hakimcomel";
}



/*.testi{
    position: relative;
    padding: 100px;
    background: var(--secondary-color);
    text-align: center;
}

.testi .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;    
    flex-wrap: wrap;
}

.testi .container .contentBx{
    display:flex;
    padding: 60px 50px;
    width: 550px;
    background: #ffffff;
    justify-content: center;
    align-items: center;
    text-align: left;
}

.testi .container .contentBx p{
    font-style: italic;
}

.testi .container .contentBx h3{
    width: 100%;
    text-align: end;
    font-weight: 600;
    color: #3f8ffc;
}*/



.contact{
    padding:100px;
    background:var(--third-color);
    text-align: center; 
}

.contact h2{
    text-shadow: 0px 5px 0px #bf87ba;
    font-family: "hakimcomel";
}

.imgBx2{
    background: linear-gradient(#0c809d00,#0c809d72),url(./assets/loh.gif);
    background-size: cover;
    background-position: center;
    width: 100%;
    
}

.redbg{
    background-size: cover;
    background-position: center;   
}

.form .inputBx{
    margin-bottom: 40px;
}

.form .inputBx input{
    width: 100%;
    background: transparent;
    box-shadow: none;
    border: none;
    outline: none;
    padding: 10px 0;
    font-size: 18px;
    font-weight: 300;
    color: #ffffff;
    border-bottom: 2px solid #fff;
}

.form .inputBx input::placeholder{
    color: #fff;
}

.form .inputBx textarea{
    width: 100%;
    background: transparent;
    box-shadow: none;
    border: none;
    outline: none;
    padding: 10px 0;
    font-size: 18px;
    font-weight: 300;
    color: #ffffff;
    min-height: 150px;
    border-bottom: 2px solid #fff;
}

.form .inputBx textarea::placeholder{
    color: #fff;
}

.form .inputBx input[type="submit"]{
    width: 150px;
    background: #fff;
    color: #111;
    cursor: pointer;
}

.footer{
    background: #162c3b;
    padding: 100px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;  
}

.footer ul{
   display: flex;
   justify-content: center;
   align-items: center;
}

.footer ul li{
    list-style: none;
}

.footer ul li a{
    text-decoration: none;
    display: inline-block;
    margin: 0 10px;
}

.footer ul li a img{
    filter: invert(1);
    max-width: 20px;
}

@media (max-width: 991px)
    {
        .front-page
        {
            padding: 20px 50px;
        }

        .front-page .selling-point h2
        {
            font-size: 36px;
        }

        .front-page .selling-point h3
        {
            font-size: 18px;
        }

        .littleabout
        {
            flex-direction: column;
        }

        .littleabout .contentBx,
        .littleabout .imgBx
        {
            width: 100%;
            padding: 50px;
            min-height: 400px;
            text-align: center;
        }

        .service
        {
            padding: 50px;
        }

        .service .container
        {
            justify-content: center;
            margin-top: 20px;
        }

        .service .container .serviceBx
        {
            margin: 20px;
            width: 300px;
            height: 350px;
        }

        .gallery
        {
            padding: 50px;
        }

        .gallery .container
        {
            justify-content: center;
            margin-top: 20px;
        }

        .gallery .container .galleryBx
        {
            margin: 20px;
            width: 300px;
            height: 350px;
        }

        .technology
        {
            padding: 50px;
            padding-top: 300px;
            justify-content: center;
            flex-direction: column;
        }

        .technology .imgBx
        {
            margin-top: 40px;
            max-width: 250px;
        }

        .client
        {
            padding: 50px;
        }

        .client .imgBx
        {
            justify-content: center;
        }

        .testi
        {
            padding: 50px;
        }

        .testi .contentBx
        {
            padding: 60px 40px;
            max-width: 550px;
            margin-bottom: 40px;
        }

        .testi .contentBx:last-child
        {
            margin-bottom: 0px;
        }

        .contact
        {
            padding: 50px;
        }

        .footer
        {
            padding: 20px 50px;
            flex-direction: column;
            text-align: center;
        }

        .footer ul{
            margin-bottom: 20px;
        }

        .header{
            position: fixed;

        }
    }